# Byte-compiled / optimized / DLL files
__pycache__/
utils/__pycache__/
*.py[cod]
.DS_Store
**/.DS_Store
*.pyc
.idea/

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

*.jsonl
data/tour_without_peer_debate/
data/main_tour_40/
data/main_tour_40_zh/
data/mixtral_VS_mistral